* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body {
    background-color: #ababab;
}

.go-back {
    margin-top: 5px;
}

.profile__panel {
    background-color: #f3f3f3;
}
/*Start of Insurance section*/
.top_details {
    background-color: #f7fff857;
    border-bottom: 2px solid #ccc;
    margin-bottom: 60px;
}

.edit-insurance-btn {
    margin-top: -40px;
}

/*End of Insurance section*/
